
@media (min-width:1300px) {
    /* Добавить названия кнопкам в nav */
    .log-in::after {
        content: 'Войти';
    }
    .nav__button:nth-child(2)::after {
        content: 'Избранное';
    }
    .nav__button:nth-child(3)::after {
        content: 'Корзина';
    }
}


@media (max-width:1300px) {
    
    /* width--, gap-- */
    .nav__buttons {
        width: 15%;
        gap: 10px;
    }
    /* width++ */
    .search {
        width: 55%;
    }
    /* size++ */
    .nav__button span {
        font-size: 3vw;
    }

    /* nav__link-- */
    .nav__link:nth-child(9) {
        display: none;
    }
    .nav__link:nth-child(8) {
        display: none;
    }
}

@media (max-width:1160px) {
    /* nav__link-- */
    .nav__link:nth-child(10) {
        display: none;
    }
    /* margin-right -- */
    .logo{
        margin-right: 10px;
    }
}

@media (max-width:920px) {
    /* убираем nav__link  */
    .nav__link {
        display: none;
    }

    /* search-bar -- */
    .search-bar {
        display: none;
    }

    /* появляется новый search-bar */
    .search-bar-adapt {
        display: block;
    }

    /* catalog -- */
    .catalog{
        display: none;
    }
    /* burger++ */
    .burger{
        display: flex;
    }
    /* width++ */
    .logo{
        width: 25%;
    }
    /* buttons to right, width++*/
    .nav__buttons {
        margin-left:auto;
        width:25%;
    }
    /* size++ */
    .nav__button span {
        font-size: 5vw;
    }

    /* Main */
    /* products */
    .comp__content {
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:768px) {
    .comp .product {
        height: 400px;
    }
    .product__name {
        font-size: 12px;
    }

    .product-page__name {
        font-size: 18px;
    }
    .product-page__seller, .product-page__delivery, .product-page__description{
        font-size: 14px;
    }
}
@media (max-width:635px) {
    .comp__content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:481px) {
    
}